{
    "parser": "babel-eslint",
    "plugins": ["react"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb-base"
    ],
    "env": {
        "browser": true
    },
    "rules": {
    }
}